#titulo {
    color: rgb(255, 255, 255);
  }
  #parrafo {
    color: rgb(255, 255, 255);
    width: 500px;
    height: 500px;
  }
  body {  
    background-color: rgb(87, 84, 84 );

  }
  #Caja-del-titulo {
    display: flex;
    justify-content: center;
  }
  #Caja-de-parrafo {
    display: flex;
    justify-content: center;
  }
  #Primera-Imagen {
    height: 300px;
    width: 300;
  }